
  <form action="/users/login" method="post">
    <ul>
      <li>
        <label for="mailAddress">メールアドレス</label>
        <input name="mailAddress" type="text"/>
      </li>
      <li>
        <label for="password">パスワード</label>
        <input name="password" type=""/>
      </li>
      <li class="button">
        <button type="submit">ログイン</button>
      </li>
    </ul>
    <div class="">
      <a href="/users/register">新規登録はこちら</a>
    </div>
  </form>
