
  <form action="/users/create" method="post">
    <ul>
      <li>
        <label for="user_name">ユーザー名</label>
        <input name="user_name" type="text"/>
      </li>
      <li>
        <label for="mailAddress">メールアドレス</label>
        <input name="mailAddress" type="text"/>
      </li>
      <li>
        <label for="password">パスワード</label>
        <input name="password" type="password"/>
      </li>
      <li class="button">
        <button type="submit">新規登録</button>
      </li>
    </ul>
  </form>
